.side_drawer {
    width: 70%;
    height: 100vh;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    transform: translateX(-100%);
    transition: all 0.3s ease-out;
}

.side_drawer.show {
    transform: translateX(0);
}

.side_drawer_links {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.side_drawer_links > li {
    display: flex;
    align-items: center;
}

.side_drawer_links > li > a:hover {
    background: #171717;
    color: #8221dd;
}

.side_drawer_links > li > a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
    padding: 1rem;
    text-decoration: none;
    color: #171717;
    font-size: 1.6rem;
}

.side_drawer_links > li > a > span {
    display: flex;
    align-items: center;
    margin-left: 8px;
}

.side_drawer_cart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: #171717;
    border-radius: 50%;
    margin-left: 8px;
    color: #fff;
    font-size: 1rem;
}

.side_drawer_cart:hover {
    color: #f4f4f4;
}

.side_drawer_links > li > a:hover .side_drawer_cart {
    background-color: #8221dd;
    color: #fff;
}

@media (min-width: 960px) {
    .side_drawer {
        display: none;
    }
}